# Assignment is below at the end

- https://scikit-learn.org/stable/modules/tree.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.plot_tree.html

In [244]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 6)
plt.rcParams['font.size'] = 14
import pandas as pd
import numpy as np

In [245]:
df = pd.read_csv(r'C:\Users\17036\Desktop\mlnn\data\adult.data', index_col=False)

In [246]:
golden = pd.read_csv(r'C:\Users\17036\Desktop\mlnn\data\adult.test', index_col=False)

In [247]:
golden.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [248]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [249]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [250]:
from sklearn import preprocessing

In [251]:
enc = preprocessing.OrdinalEncoder()

In [252]:
transform_columns = ['sex']
non_num_columns = ['workclass', 'education', 'marital-status', 
                     'occupation', 'relationship', 'race', 'sex', 
                     'native-country']

In [253]:
pd.get_dummies(df[transform_columns]).head()

   sex_ Female  sex_ Male
0            0          1
1            0          1
2            0          1
3            0          1
4            1          0

In [254]:
x = df.copy()

x = pd.concat([x.drop(non_num_columns, axis=1), 
               pd.get_dummies(df[transform_columns])], axis=1,)

x["salary"] = enc.fit_transform(df[["salary"]])

In [255]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,sex_ Female,sex_ Male
0,39,77516,13,2174,0,40,0.0,0,1
1,50,83311,13,0,0,13,0.0,0,1
2,38,215646,9,0,0,40,0.0,0,1
3,53,234721,7,0,0,40,0.0,0,1
4,28,338409,13,0,0,40,0.0,1,0

In [256]:
xt = golden.copy()

xt = pd.concat([xt.drop(non_num_columns, axis=1), 
               pd.get_dummies(golden[transform_columns])], axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [257]:
xt.salary.value_counts()

0.0    12435
1.0     3846
Name: salary, dtype: int64

In [258]:
enc.categories_

[array([' <=50K.', ' >50K.'], dtype=object)]

In [259]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

#### Choose the model of your preference: DecisionTree or RandomForest

In [260]:
model = RandomForestClassifier(criterion='entropy')

In [261]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=None)

In [262]:
model.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

DecisionTreeClassifier(criterion='entropy')

In [263]:
model.tree_.node_count

8325

In [264]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.32427919041012976),
 ('education-num', 0.1610009656822558),
 ('capital-gain', 0.2271983856975806),
 ('capital-loss', 0.07805573609825353),
 ('hours-per-week', 0.15368234369379719),
 ('sex_ Female', 0.02133685089073269),
 ('sex_ Male', 0.03444652752725036)]

In [265]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.32427919041012976),
 ('education-num', 0.1610009656822558),
 ('capital-gain', 0.2271983856975806),
 ('capital-loss', 0.07805573609825353),
 ('hours-per-week', 0.15368234369379719),
 ('sex_ Female', 0.02133685089073269),
 ('sex_ Male', 0.03444652752725036)]

In [266]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,sex_ Female,sex_ Male
0,39,13,2174,0,40,0,1
1,50,13,0,0,13,0,1
2,38,9,0,0,40,0,1
3,53,7,0,0,40,0,1
4,28,13,0,0,40,1,0

In [267]:
set(x.columns) - set(xt.columns)

set()

In [268]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'sex_ Female',
 'sex_ Male']

In [269]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictionsx = model.predict(x.drop(['fnlwgt','salary'], axis=1))

In [270]:
from sklearn.metrics import (
    accuracy_score, 
    classification_report, 
    confusion_matrix, auc, roc_curve
)

In [271]:
accuracy_score(xt.salary, predictions)

0.8208955223880597

In [272]:
confusion_matrix(xt.salary, predictions)

array([[11459,   976],
       [ 1940,  1906]], dtype=int64)

In [273]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.86      0.92      0.89     12435
         1.0       0.66      0.50      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281

In [274]:
accuracy_score(x.salary, predictionsx)

0.8955806025613464

In [275]:
confusion_matrix(x.salary, predictionsx)

array([[24097,   623],
       [ 2777,  5064]], dtype=int64)

In [276]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

# For the following use the above `adult` dataset. Start with only numerical features/columns.

# 1. Show the RandomForest outperforms the DecisionTree for a fixed `max_depth` by training using the train set and `precision`, `recall`, `f1` on golden-test set.

In [277]:
model_dt = DecisionTreeClassifier(criterion='entropy', max_depth=9)
model_rf = RandomForestClassifier(criterion='entropy', max_depth=9)

In [278]:
model_dt.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)
model_rf.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

RandomForestClassifier(criterion='entropy', max_depth=9)

In [279]:
prediction_dt = model_dt.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictions_rf = model_rf.predict(xt.drop(['fnlwgt','salary'], axis=1))

In [280]:
print('Classification Report for Decision Tree with max_depth = 8:')
print(classification_report(xt.salary, prediction_dt))

Classification Report for Decision Tree with max_depth = 8:
              precision    recall  f1-score   support

         0.0       0.84      0.97      0.90     12435
         1.0       0.79      0.42      0.55      3846

    accuracy                           0.84     16281
   macro avg       0.82      0.69      0.73     16281
weighted avg       0.83      0.84      0.82     16281

In [281]:
print('Classification Report for Random Forest with max_depth = 8:')
print(classification_report(xt.salary, predictions_rf))

Classification Report for Random Forest with max_depth = 8:
              precision    recall  f1-score   support

         0.0       0.85      0.96      0.90     12435
         1.0       0.77      0.47      0.58      3846

    accuracy                           0.84     16281
   macro avg       0.81      0.71      0.74     16281
weighted avg       0.83      0.84      0.83     16281

In [282]:
cr_dt = classification_report(xt.salary, prediction_dt, output_dict=True)
cr_rf = classification_report(xt.salary, predictions_rf, output_dict=True)

idxs = [
    np.array(['Decision_Tree']*6 + ['Random_Forest']*6),
    np.array(["0.0"]*3 + ["1.0"]*3 + ["0.0"]*3 + ["1.0"]*3),
    np.array(['precision', 'recall', 'f1-score']*4),
]

model_comparisons = pd.DataFrame({'only-numerical-columns':[cr_dt['0.0']['precision'], cr_dt['0.0']['recall'], cr_dt['0.0']['f1-score'],
                                                       cr_dt['1.0']['precision'], cr_dt['1.0']['recall'], cr_dt['1.0']['f1-score'],
                                                       cr_rf['0.0']['precision'], cr_rf['0.0']['recall'], cr_rf['0.0']['f1-score'],
                                                       cr_rf['1.0']['precision'], cr_rf['1.0']['recall'], cr_rf['1.0']['f1-score']]},
                                index = idxs)
model_comparisons

                             only-numerical-columns
Decision_Tree 0.0 precision                0.844023
                  recall                   0.965179
                  f1-score                 0.900544
              1.0 precision                0.789908
                  recall                   0.423297
                  f1-score                 0.551210
Random_Forest 0.0 precision                0.853437
                  recall                   0.957620
                  f1-score                 0.902531
              1.0 precision                0.773625
                  recall                   0.468279
                  f1-score                 0.583414

# 2. For RandomForest or DecisionTree and using the `adult` dataset, systematically add new columns, one by one, that are non-numerical but converted using the feature-extraction techniques we learned. Show [`precision`, `recall`, `f1`] for each additional feature added.

In [283]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [284]:
non_num_columns.remove('sex')

In [285]:
non_num_columns

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'native-country']

In [286]:
test_x = x.copy()
test_xt = xt.copy()
mc_test = model_comparisons.copy()
for (col_name, col_data) in df[non_num_columns].iteritems():
    # transform new col
    label_encoder = LabelEncoder()
    new_col_x = label_encoder.fit_transform(col_data)
    new_col_xt = label_encoder.fit_transform(golden[col_name])
    one_hot = OneHotEncoder()
    col_x_to_add = one_hot.fit_transform(new_col_x.reshape(-1,1)).toarray()
    col_xt_to_add = one_hot.fit_transform(new_col_xt.reshape(-1,1)).toarray()
    
    # add transformed col to training and test data
    cols_x_to_add = pd.DataFrame(col_x_to_add, columns=col_data.unique())
    cols_xt_to_add = pd.DataFrame(col_xt_to_add, columns=golden[col_name].unique())
    test_x = pd.concat([test_x, cols_x_to_add], axis=1)
    test_xt = pd.concat([test_xt, cols_xt_to_add], axis=1)
    
    # check if all columns are being added to training set
    training_levels_missed = set(cols_x_to_add.columns) - set(cols_xt_to_add)
    if len(training_levels_missed) == 0:
        pass
    else:
        for val in training_levels_missed:
            test_xt[val] = 0
    
    # re-arrange columns alphabetically to ensure test data is predicted correctly
    test_x = test_x.sort_index(axis=1, ascending=True)
    test_xt = test_xt.sort_index(axis=1, ascending=True)
    
    # train Decision Tree and Random Forest models
    model_dt = DecisionTreeClassifier(criterion='entropy', max_depth=10)
    model_rf = RandomForestClassifier(criterion='entropy', max_depth=10)
    model_dt.fit(test_x.drop(['fnlwgt','salary'], axis=1), test_x.salary)
    model_rf.fit(test_x.drop(['fnlwgt','salary'], axis=1), test_x.salary)
    
    # predict classes for test data
    prediction_dt = model_dt.predict(test_xt.drop(['fnlwgt','salary'], axis=1))
    predictions_rf = model_rf.predict(test_xt.drop(['fnlwgt','salary'], axis=1))
    
    # show Classification Report for Decision Tree and Random Forest models
    cr_dt = classification_report(test_xt.salary, prediction_dt, output_dict = True)
    cr_rf = classification_report(test_xt.salary, predictions_rf, output_dict = True)
    
    # instead of showing Classification Reports for each (it gets really messy), add to model_comparisons (created above)
    mc_test[col_name + '_added'] = [cr_dt['0.0']['precision'], cr_dt['0.0']['recall'], cr_dt['0.0']['f1-score'],
                                    cr_dt['1.0']['precision'], cr_dt['1.0']['recall'], cr_dt['1.0']['f1-score'],
                                    cr_rf['0.0']['precision'], cr_rf['0.0']['recall'], cr_rf['0.0']['f1-score'],
                                    cr_rf['1.0']['precision'], cr_rf['1.0']['recall'], cr_rf['1.0']['f1-score']]

In [287]:
mc_test

                             only-numerical-columns  workclass_added  \
Decision_Tree 0.0 precision                0.844023         0.849964
                  recall                   0.965179         0.957620
                  f1-score                 0.900544         0.900586
              1.0 precision                0.789908         0.767944
                  recall                   0.423297         0.453458
                  f1-score                 0.551210         0.570214
Random_Forest 0.0 precision                0.853437         0.846772
                  recall                   0.957620         0.965259
                  f1-score                 0.902531         0.902142
              1.0 precision                0.773625         0.794872
                  recall                   0.468279         0.435257
                  f1-score                 0.583414         0.562500

                             education_added  marital-status_added  \
Decision_Tree 0.0 precision         0.850691              0.804615
                  recall            0.955770              0.989867
                  f1-score          0.900174              0.887679
              1.0 precision         0.761905              0.871821
                  recall            0.457618              0.222829
                  f1-score          0.571800              0.354939
Random_Forest 0.0 precision         0.840639              0.797582
                  recall            0.968476              0.997185
                  f1-score          0.900041              0.886284
              1.0 precision         0.799488              0.952316
                  recall            0.406396              0.181747
                  f1-score          0.538873              0.305240

                             occupation_added  relationship_added  race_added  \
Decision_Tree 0.0 precision          0.805260            0.799843    0.805311
                  recall             0.987294            0.985927    0.987616
                  f1-score           0.887034            0.883190    0.887195
              1.0 precision          0.847343            0.816369    0.850630
                  recall             0.228029            0.202288    0.228029
                  f1-score           0.359353            0.324234    0.359647
Random_Forest 0.0 precision          0.797636            0.794846    0.793273
                  recall             0.998472            0.999517    0.999517
                  f1-score           0.886825            0.885509    0.884532
              1.0 precision          0.973427            0.990683    0.990212
                  recall             0.180967            0.165887    0.157826
                  f1-score           0.305196            0.284187    0.272258

                             native-country_added
Decision_Tree 0.0 precision              0.805583
                  recall                 0.986329
                  f1-score               0.886840
              1.0 precision              0.839015
                  recall                 0.230369
                  f1-score               0.361485
Random_Forest 0.0 precision              0.794388
                  recall                 0.999517
                  f1-score               0.885225
              1.0 precision              0.990551
                  recall                 0.163547
                  f1-score               0.280741

# 3. Optional: Using gridSearch find the most optimal parameters for your model
Warning: this can be computationally intensive and may take some time.
- https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
- https://scikit-learn.org/stable/modules/grid_search.html